<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/extra.css" media="screen,projection"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/scripts/uploadFunctions.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
    </style>
</head>

<body>
        
        <!-- LOGIN MODAL -->
        <div id="loginModal" class="modal" style="width: 30%;">
            <form action='/login' method='post'>
                <div class="modal-content">
                    <h1 style="text-align: center;">Login</h1>
                    
                    <div class="input-field col s12">
                        <input id="username" name="username" type="text" required>
                        <label for="username">Username</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" required>
                        <label for="password">Password</label>
                    </div>

                    <div class="level is-marginless">
                            <div class="level-item">
                                    <p class="help" id="errorMsg" style="color: red;"><%= typeof errorMsg !='undefined' ? errorMsg:''%> </p>
                            </div>
                    </div>
                
                    <div class="row" style="text-align: center;">
                        <button id ="login_submit" class="btn brown waves-effect waves-light" type="submit">Login
                            <i class="material-icons right">send</i>
                        </button>
                    </div>

                </div>
            </form>
        </div>


        <!-- SIGNUP MODAL -->
        <div id="signupModal" class="modal" style="width: 60%;">
                <form action='/register' method='post'>
                        <div class="row" style="margin: 5px;">
                            <div class="input-field col s6">
                                <input placeholder="e.g. iamcool69" id="signup_username" name="username" type="text" class="" required>
                                <label for="signup_username">Username*</label>
                                <span id="signup_username_help" class="helper-text" data-error="Cannot use this username" data-success="Username is available!"></span>
                            </div>
                        </div>
                        <div class="row" style="margin: 5px;">
                            <div class="input-field col s6">
                                <input placeholder="&bull;&bull;&bull;&bull;&bull;&bull;" id="signup_pw" name="password" type="password" class="" required>
                                <label for="signup_pw">Password*</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="&bull;&bull;&bull;&bull;&bull;&bull;" id="confirm_pw" type="password" class="" onchange="" required>
                                <label for="confirm_pw">Confirm Password*</label>
                            </div>
                        </div>
                        <div class="row" style="margin: 5px;">
                            <div class="input-field col s6">
                                <input placeholder="First Name" id="signup_fname" name="firstname" type="text">
                                <label for="signup_fname">Full Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Last Name" id="signup_lname" name="lastname" type="text">
                            </div>
                        </div>
                        <div class="row center-align">  
                            <sub>* required fields</sub>
                        </div>
                        <div class="row center-align">
                                <button id ="signup_submit" class="btn brown waves-effect waves-light" type="submit">Sign up
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                    </form>
            </div>

        <!-- UPLOAD MODAL -->
        <div id="uploadModal" class="modal">
            <h1 style="text-align: center;">Upload Image</h1>
            <form action='/upload' method='post' class="modal-content animate" id="customNames" >
            <div class="imgcontainer">
                <span onclick="document.getElementById('uploadModal').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
        
            
            <!-- User Entry-->
            <div class="container">

                <!-- Custom Filename -->
                <label for="tite"><b>Post Title</b></label>
                <input type="text" placeholder="Enter Filename" name="upload_title" required>
                
                <!-- Captions-->
                <textarea rows="10%" cols="100%" name="caption" form="customNames" required>Enter caption...</textarea>

                <!-- Choose File -->
                <input class = "file-input" type="file" name = "filepath" id="imageFileUpload" multiple size="50"  onchange="uploadFile()" required>
                <img src="" height="200" alt="Image preview...">
                
                <!-- Close Modal-->
                <!-- Comment
                <button type="button" id="confirmation" onclick="toDatabaseUpload()" class="cancelbtn">
                    Upload File    
                </button>
                <button type="button"  onclick="document.getElementById('uploadModal').style.display='none'" class="cancelbtn">
                    Cancel   
                </button>
                <div id="uploadResponse"></div>
                -->

                <div class="row center-align">
                    <button id ="upload_submit" class="btn brown waves-effect waves-light" type="submit">Sign up
                        <i class="material-icons right">send</i>
                    </button>
                </div>


            </div>

            </form>
        </div>



        
        <div id="comments">Comments Here</div>
        <div id="yourUsername">Your Username: 
                <li><a href="/login"><%= typeof user !='undefined' ? user:''%></a></li>
        </div>
        <div id="commentsReceive"></div>
        <div id="comment_submit">
            <!--<form id="commentForm" action='/upload' method='post'></form> Temp comment for later -->
            <form id="commentForm" action="">

                <!-- Get Post ID Here-->


                <!-- This is the username -->
                <a href="/login" id="author"><%= typeof user !='undefined' ? user:''%></a>

                
                <!-- Send this as comment to DB -->
                <input id="postComment" autocomplete="off" />

                <!-- Send all to DB 
                    comment_id: String,
                    comment: String,
                    author: String,
                    post_id: String,
                    time: Date
                -->

                <button  onclick="commentDB()" >Send</button>
            </form>
        </div>


        <div id="chatdiv"></div>
        
            




    <% if(login){ %>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper brown">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a a class="btn brown waves-effect waves-light btn" href="/logout">Logout</a></li>
                </ul>
                <a href="index.html" class="brand-logo center">Critix</a>
                <a href="#" data-target="mobilesidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    
                    <!-- <li><a href="signup.html">Upload</a></li> -->
                    <li><a class="btn brown waves-effect waves-light btn modal-trigger" href="#uploadModal">Upload</a></li>
                    <li><a href="/login"><%= typeof user !='undefined' ? user:''%></a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobilesidenav">
            <li><a class="btn brown waves-effect waves-light btn modal-trigger" href="#uploadModal">Upload</a></li>
            <li><a href="/login"><%= typeof user !='undefined' ? user:''%></a></li>
        </ul>
    </div>
    <% } else{ %> 
        <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper brown">
                        <a href="index.html" class="brand-logo center">Critix</a>
                        <a href="#" data-target="mobilesidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a class="btn brown waves-effect waves-light btn modal-trigger" href="#signupModal">Sign up</a></li>
                            <li><a class="btn brown waves-effect waves-light btn modal-trigger" href="#loginModal" >Login</a></li>
                        </ul>
                    </div>
                </nav>
                <ul class="sidenav" id="mobilesidenav">
                    <li><a class="btn brown waves-effect waves-light btn modal-trigger" href="#signupModal">Sign in</a></li>
                    <li><a class="btn brown waves-effect waves-light btn modal-trigger" href="#loginModal">Login</a></li>
                </ul>
        </div>
        
       
    <% } %>
    <ul class="sidenav" id="mobilesidenav">
    </ul>

    <div class="container">
        <div class="section"></div>
        <div class="section"></div>
        <div class="row">
            <div class="col s11 m3">
                <div class="thumbnail hoverable">
                    <img class="portrait" src="https://78.media.tumblr.com/0d4f34112b2a461c681594e2e45dde12/tumblr_p7g9szXG3m1wjf9lpo1_540.jpg">
                </div>
            </div>
            <div class="col s11 m3">
                <div class="thumbnail hoverable">
                    <img class="portrait" src="https://78.media.tumblr.com/6352cd8ca6c68ebf241a25dce7608387/tumblr_p7hlusITG91slnd6ao1_540.jpg">
                </div>
            </div>
            <div class="col s11 m3">
                <div class="thumbnail hoverable">
                    <div class="thumbnail-img-landscape">
                        <img src="https://78.media.tumblr.com/201df481f5e8265e7029e52795a0855f/tumblr_p7if5wkhrp1tjqkbco1_540.png">
                    </div>
                </div>
            </div>
            <div class="col s11 m3">
                <div class="thumbnail hoverable">
                    <img src="https://78.media.tumblr.com/0ba238c9fa53bfd80a769439613e7a4a/tumblr_p75mz91kew1uhirv8o2_1280.jpg">
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col s11 m3">
                    <div class="thumbnail hoverable">
                        <img src="https://78.media.tumblr.com/f3bda235d2271e489de2aa9f6699c04c/tumblr_p7euxhmz6h1wcn0s5o1_1280.jpg">
                    </div>
                </div>
                <div class="col s11 m3">
                    <div class="thumbnail hoverable">
                        <img src="https://78.media.tumblr.com/9250279e58f4df2c97699b41eedbc30e/tumblr_p7e6uxkse51td5g4mo4_1280.jpg">
                    </div>
                </div>
            </div>    
    </div>
    
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/scripts/materialize.js"></script>
    <script type="text/javascript" src="/scripts/extra.js"></script>
    <script type="text/javascript" src="/scripts/uploadFunctions.js"></script>
    <script type="text/javascript" src="/scripts/commentSocket.js"></script>
    

    <script type="text/javascript">
        $(document).ready(function () {
            console.log("Error msg length " + document.getElementById("errorMsg").innerHTML);
            if(document.getElementById("errorMsg").innerHTML.trim() != ""){
                $('#loginModal').modal("open");
            }       
        });
        
    </script>

</body>
</html>