<!DOCTYPE html>
<html class="has-navbar-fixed-bottom">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tattune | View Your Music</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/extra.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/post.js"></script>

</head>
<!-- <body> -->
<body onload="fetchComments('<%=file._id.toString()%>'); setEnter();">
  <h1><%= file.title %></h1>
  <h2>Uploaded on <%= file.date.toISOString().slice(0,10).replace(/-/g,"/"); %> </h2>

  <div class="center">
  <div class="posts">
  <div class="containerz">
  <img class="post" src="../uploads/images/<%= file.filepath %>" type="image/<%= filetype %>">
</div>
</div>
</div>
<!-- <form method='post'> -->
  <form>
    <input style="width:80vw;" id="comment" type='text' name="comment" autocomplete="off"></input>
    <button id="btnComment" type="button" onclick="postComment('<%=file._id.toString()%>')">COMMENT</button>
  </form>
  <div id="comments">
  </div>

<br>




</body>

<style>

  html{
    width:100%;
    height: 100%;
    overflow: hidden;
  }
  #comments{
    background-color: white;
    color: black;
    height: 50vh;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-left: 10vw;
    margin-right: 10vw;
    overflow: scroll;
  }
</style>
</html>
